@import "tailwindcss";
@import "@nuxt/ui";

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  z-index: 9999;
}
::view-transition-old(root) {
  z-index: 1;
}

.number-column {
  display: inline-block;
  height: 1.25em;
  overflow: hidden;
  position: relative;
}

.number-scroll {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.number-cell {
  height: 1.25em;
  width: 0.6em;
  text-align: center;
  line-height: 1.25em;
}

.comma {
  padding: 0 0.1em;
  height: 1.25em;
  line-height: 1.25em;
}
